<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutomationOfPayrollCalculations.Properties.Settings.Automation_of_payroll_calculationsConnectionString"
            connectionString="Data Source=DESKTOP-GUV9959\SQLEXPRESS;Initial Catalog=&quot;Automation of payroll calculations&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>